@{
  Layout = "_Layout";
}

<h1>Pierre's Authentic Treats</h1>

@Html.ActionLink("New User", "Register", "Account", null, new { @class="btn"})
@Html.ActionLink("Login", "Login", "Account", null, new { @class="btn" })