@{
  Layout = "_Layout";
}

<div class="home-splash">

<h1>Pierre's Authentic Treats</h1>

<div class="btn-container">
@Html.ActionLink("New User", "Register", "Account", null, new { @class="btn"})
@Html.ActionLink("Login", "Login", "Account", null, new { @class="btn" })
</div>

</div>