<div id="nav">
  @Html.ActionLink("Home", "Index", "Account", null, new { @class="btn" })
  @Html.ActionLink("Treats", "Index", "Treats", null, new { @class="btn" })
  @Html.ActionLink("Flavors", "Index", "Flavors", null, new { @class="btn" })
</div>