@{
  Layout = "_Layout";
}

@using PierresAuthenticTreats.Models
@model PierresAuthenticTreats.Models.Treat

<div class="details">
  <h2><em>@Model.Name</em> details: </h2>

  <h4>Price: @Model.Price.ToString("C2")</h4>

  <h4>Flavors:</h4>
  <ul>
    @foreach (FlavorTreat join in Model.JoinEntities)
    {
      <li>@join.Flavor.Type</li>
    }
  </ul>

@Html.ActionLink($"Edit {Model.Name}", "Edit", new { id = Model.TreatId }, new { @class="btn"})
</div>