:root {
  --main-color: #0E4749;
  --main-contrast: #EFE7DA;
  --font-color: #002626;
  --secondary-color: #95C623;
  --secondary-contrast: #E55812;
}

#header {
  display: flex;
  justify-content: space-evenly;
  height: 20vh;
  width: 100vw;
  background-size: contain;
  background-color: var(--main-color);
}

#header h2 {
  padding-top: 8vh;
  font-size: 2em;
  color: var(--secondary-color)
}

#nav {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: var(--main-contrast);
}

.main-container {
  padding: 20px;
  margin: 1em;
  margin-bottom: 2em;
  height: 200vh;
}

.btn {
  border: 2px solid var(--secondary-contrast);
}

.home-splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.details, .treats-home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-evenly;
}

table {
  padding: 20px;
  margin: 30px;
}

table th {
  padding: 10px;

}

table td {
  padding: 8px;
}

table td .btn {
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: var(--secondary-contrast);
}

.treats-list {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.treat-link {
  text-decoration: none;
  color: var(--main-color)
}

#footer {
  background-color: var(--secondary-color);
  width: 100vw;
  position: fixed;
  bottom: 0;
  height: 12vh;
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
}

.btn-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.btn-container > a.btn {
  margin: 15px;
  background: var(--secondary-color);
  text-transform: uppercase;
}
